/dist/wslX-windows-x64-portable.7z
/dist/wslX-windows-x64-setup.exe
/dist/wslX/data/menus/
/src/make-menus/build/
/src/make-menus/dist/
/src/wsl-open-with/build/
/src/wsl-open-with/dist/
*.spec
/stuff/
uninstall_list.nsh
_backup.rar
/src/xorg-server-21.1.12-1.x86_64/log/
/src/xorg-server-21.1.12-1.x86_64/src/xserver-xserver-cygwin-21-1-12-1/x86_64-pc-cygwin/
